.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


@font-face {
  font-family: 'cigra';
  src: url('./assets/fonts/Cigra Free Demo.ttf');
}

.cigra {
  font-family: 'cigra';
  color: rgb(255, 255, 255);
}

@font-face {
  font-family: 'she';
  src: url('./assets/fonts/GyahegiPersonalUse-w1P6z.ttf');
}

.she {
  font-family: 'she';
  color: rgb(255, 255, 255);
}

@font-face {
  font-family: 'vogue';
  src: url('./assets/fonts/Vogue.ttf');
}

.vogue {
  font-family: 'vogue';
  color: rgb(131, 106, 84);
}

@font-face {
  font-family: 'meg';
  src: url('./assets/fonts/Magazine.ttf');
}

.meg {
  font-family: 'meg';
  color: rgb(77, 77, 77);
}

@font-face {
  font-family: 'onto';
  src: url('./assets/fonts/Queenstown Signature.ttf');
}

.onto {
  font-family: 'onto';
  color: rgb(255, 255, 255);
}

@font-face {
  font-family: 'caslon';
  src: url('./assets/fonts/CaslonCP.otf');
}

.caslon {
  font-family: 'caslon';
  color: rgb(0, 0, 0);
}
